body, container {	
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align: center;
	margin: 0px;
}

p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: 100;
}

.col h2 {
	background-color: #eceeef;
	padding: 20px;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 50%;
}